.container {
    background-color: #EDE7F6;
}
input[name=code] {
    text-transform: uppercase;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        text-transform: lowercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        text-transform: lowercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        text-transform: lowercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
        text-transform: lowercase;
    }
}
.error-box {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 5px;
    color: #D50000;
}
.ng-pristine.ng-invalid.ng-touched {
    border-color: #D50000;
}
.button-box {
    margin-top: 1rem;
    &.button-group {
        display: flex;
        @media(max-width: 768px) {
            button {
                min-width: auto;
            }
        }
    }
    button {
        padding: 1rem;
        min-width: 180px;
        background-color: #7E57C2;
        border: navajowhite;
        border-radius: 5px;
        color: #fff;
        transition: 300ms ease-in;
        cursor: pointer;
        margin-right: 10px;
        &:hover {
            background-color: #673AB7;
        }
        &:disabled {
            opacity: .7;
            cursor: not-allowed;
        }
        &.cancel-btn {
            background-color: #b5a9c6;
        }
    }
}
.message {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    transition: 300ms;
}
.success-message {
    background-color: #00C853;
    opacity: 0;
    visibility: hidden;
}
.error-message {
    background-color: #D50000;
}
.show-visibility {
    opacity: 1;
    visibility: visible;
}